params {
	modules {
        'star_align' {
            args          = "--quantMode TranscriptomeSAM --twopassMode Basic --outSAMtype BAM Unsorted --readFilesCommand zcat --runRNGseed 0 --outFilterMultimapNmax 20 --alignSJDBoverhangMin 1 --outSAMattributes NH HI AS NM MD --quantTranscriptomeBan Singleend --limitOutSJcollapsed 5000000 --limitIObufferSize 137000000"
            publish_dir   = "${params.aligner}"
            publish_files = ['out':'log', 'tab':'log']
        }
    }
}
